<!-- One dropdown per level -->
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Level</th>
            <th scope="col">Class</th>
        </tr>
    </thead>
    <tbody>
        {% for level in levels %}
            <tr>
                <td>{{ level }}</td>
                <td>
                    <select name="{{level}}">
                        <!-- Default value before selection -->
                        <option value="N/A">Select Class</option>
                        {% for class in classes %}
                            {% if char_class[level-1] == class %}
                                <option selected value="{{class}}">{{class}}</option>
                            {% else %}
                                <option value="{{class}}">{{class}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>