{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <br>
                <label for="name">Name:</label>
                <input id="name" form="char_info" type="text" name="name">
                <br>
                <br>
                <form id="char_info" action="/new" method="POST">
                    {% include 'partials/level_form.html' %}
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
                <br>
                <a href="/"><button class="btn btn-primary" type="button">Home</button></a>
            </div>
        </div>
    </div>
{% endblock %}