{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <br>
        <label for="name">Name:</label>
        <input id="name" form="char_info" type="text" name="name" value="{{char.name}}">
        <br>
        <br>
        <div class="row">
            <div class="col-md-auto">
                <form id="char_info" action="/{{ char._id }}" method="POST">
                    {% include 'partials/level_form.html' %}
                </form>
            </div>
            <div class="col-md-auto">
                {% include 'partials/feature_table.html' %}
            </div>
            <div class="col-md-auto">
                    {% include 'partials/spell_table.html' %}
            </div>
        </div>
        <!-- <div class="row justify-content-end">
            
        </div> -->
        <div class="row justify-content-end">
            
            <div class="col-2">
                <button class="btn btn-primary" form="char_info" type="submit">Save</button>
            </div>
            <div class="col-2">
                    <form action="/{{ char._id}}/delete" method="POST">
                        <button class="btn btn-primary" type="submit">Delete Character</button>
                    </form>
            </div>
            <div class="col-2">
                <a href="/">Home</a>
            </div>
        </div>
    </div>
<br>
{% endblock %}